<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>Acircumflex</string>
		<string>A</string>
		<string>Adieresis</string>
		<string>Agrave</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Q</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>O</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_LEFT_V</key>
	<array>
		<string>W</string>
		<string>V</string>
	</array>
	<key>@KERN_LEFT_b</key>
	<array>
		<string>egrave</string>
		<string>b</string>
		<string>e</string>
		<string>ograve</string>
		<string>oe</string>
		<string>o</string>
		<string>eacute</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_f</key>
	<array>
		<string>f_f</string>
		<string>f</string>
	</array>
	<key>@KERN_LEFT_m</key>
	<array>
		<string>ntilde</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@KERN_LEFT_ocircumflex</key>
	<array>
		<string>p</string>
		<string>ocircumflex</string>
		<string>thorn</string>
		<string>odieresis</string>
		<string>otilde</string>
	</array>
	<key>@KERN_LEFT_v</key>
	<array>
		<string>w</string>
		<string>v</string>
	</array>
	<key>@KERN_LEFT_y</key>
	<array>
		<string>ycircumflex</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
		<string>ygrave</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>Acircumflex</string>
		<string>A</string>
		<string>Adieresis</string>
		<string>Agrave</string>
	</array>
	<key>@KERN_RIGHT_B</key>
	<array>
		<string>Egrave</string>
		<string>B</string>
		<string>E</string>
		<string>D</string>
		<string>F</string>
		<string>I</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>N</string>
		<string>P</string>
		<string>Ntilde</string>
		<string>R</string>
		<string>Idieresis</string>
		<string>Icircumflex</string>
		<string>Ecircumflex</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Edieresis</string>
		<string>Eacute</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>C</string>
		<string>Odieresis</string>
		<string>G</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>O</string>
		<string>Q</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_RIGHT_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uacute</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@KERN_RIGHT_V</key>
	<array>
		<string>W</string>
		<string>V</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.0_st.0_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>a</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>ae</string>
		<string>aacute</string>
	</array>
	<key>@KERN_RIGHT_c</key>
	<array>
		<string>cdotaccent</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>cacute</string>
		<string>c</string>
		<string>edieresis</string>
		<string>o</string>
		<string>ccircumflex</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ccedilla</string>
		<string>edotaccent</string>
		<string>ecaron</string>
		<string>egrave</string>
		<string>e</string>
		<string>d</string>
		<string>oe</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>q</string>
		<string>eth</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_dotlessi</key>
	<array>
		<string>iacute</string>
		<string>i</string>
		<string>j</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>ij</string>
		<string>dotlessi</string>
		<string>idieresis</string>
	</array>
	<key>@KERN_RIGHT_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>period</string>
		<string>underscore</string>
		<string>hyphen.case</string>
	</array>
	<key>@KERN_RIGHT_m</key>
	<array>
		<string>udieresis</string>
		<string>racute</string>
		<string>uacute</string>
		<string>m</string>
		<string>rcaron</string>
		<string>uring</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
		<string>ucircumflex</string>
		<string>ugrave</string>
		<string>u</string>
	</array>
	<key>@KERN_RIGHT_v</key>
	<array>
		<string>w</string>
		<string>v</string>
	</array>
	<key>@KERN_RIGHT_y</key>
	<array>
		<string>ycircumflex</string>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
		<string>ygrave</string>
	</array>
</dict>
</plist>
