<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<dict>
		<key>@KERN_RIGHT_C</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_U</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-140</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-110</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-100</integer>
	</dict>
	<key>@KERN_LEFT_D</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>30</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-30</integer>
	</dict>
	<key>@KERN_LEFT_R</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-24</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-40</integer>
	</dict>
	<key>@KERN_LEFT_T</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>25</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-10</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>@KERN_LEFT_V</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-70</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_i</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_m</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-40</integer>
	</dict>
	<key>@KERN_LEFT_Y</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_i</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_m</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-100</integer>
	</dict>
	<key>@KERN_LEFT_b</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-35</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-15</integer>
	</dict>
	<key>@KERN_LEFT_eight.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-180</integer>
	</dict>
	<key>@KERN_LEFT_m</key>
	<dict>
		<key>@KERN_RIGHT_T</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-30</integer>
	</dict>
	<key>@KERN_LEFT_ocircumflex</key>
	<dict>
		<key>@KERN_RIGHT_B</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-35</integer>
	</dict>
	<key>@KERN_LEFT_v</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-10</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-20</integer>
		<key>@KERN_RIGHT_i</key>
		<integer>-10</integer>
	</dict>
	<key>@KERN_LEFT_y</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-25</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_T</key>
		<integer>-15</integer>
		<key>@KERN_RIGHT_U</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-40</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-10</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@KERN_RIGHT_T</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_V</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_Y</key>
		<integer>-80</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-60</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@KERN_RIGHT_C</key>
		<integer>-25</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-50</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-30</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-15</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-10</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>@KERN_RIGHT_eight.dnom</key>
		<integer>-180</integer>
		<key>@KERN_RIGHT_seven.dnom</key>
		<integer>-150</integer>
		<key>four.dnom</key>
		<integer>-225</integer>
		<key>one.dnom</key>
		<integer>-220</integer>
	</dict>
	<key>seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-270</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@KERN_RIGHT_A</key>
		<integer>-160</integer>
		<key>@KERN_RIGHT_C</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_a</key>
		<integer>-60</integer>
		<key>@KERN_RIGHT_c</key>
		<integer>-100</integer>
		<key>@KERN_RIGHT_g</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_hyphen</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_i</key>
		<integer>-10</integer>
		<key>@KERN_RIGHT_m</key>
		<integer>-50</integer>
		<key>@KERN_RIGHT_y</key>
		<integer>-50</integer>
	</dict>
	<key>zero.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-200</integer>
	</dict>
</dict>
</plist>
